.container {
    max-width: 570px;
    margin: 4em auto;
}

.container div {
    border: 1px dashed #333;
    padding: 0 2em 2em 2em;
}

.container div::before {
    display: block;
    padding-bottom: 1em;
    margin-left: -1.5em;
}

.container .margin {
    background: #FF966F;
}

.container .margin::before {
    content: 'margin';
}

.container .border {
    background: #FFE8C6;
}

.container .border::before {
    content: 'border';
}

.container .padding {
    background: #85EB85;
}

.container .padding::before {
    content: 'padding';
}

.container .content {
    text-align: center;
    background: #A3D2E2;
    padding: 1em;
}