{{setTitle 'Create Recipe - Home Cooking Recipes'}}

<section class="form-container">
    <h2>Create Recipe</h2>
    <form method="POST">

        {{>recipeFullSpec}}

        <button type="submit">Create Recipe</button>
    </form>
</section>