{{setTitle 'Search Recipes - Home Cooking Recipes'}}


<section class="search-container">
    <h2>Search Recipes</h2>
    <form method="GET">
        <input type="text" id="search" name="title" placeholder="Search for recipes..." value="{{filter.title}}">
        <button type="submit">Search</button>
    </form>
    <div class="search-results">

        {{#each recipes}}
            {{>recipeCard}}
        {{else}}
            <p class="no-match">There are no recipes found yet!</p>
        {{/each}}
        
    </div>
</section>