
body {
    font: 14px/1.5 Lato, sans-serif;
    background-color: #eeeeee;
    padding: 2em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
   
}

.calendar {
    display: flex;
    border-radius: 0.3em;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.2);
    outline: 2px solid #fff;
}

.calendar div {
    border: 1px solid #CCC;
    background: #FFF;
    padding: 2em;
    flex: 1 1 auto;
    text-align: center;
}

.calendar section {
    display: flex;
    flex-wrap: wrap;
}

.calendar .week div:nth-child(1), 
.calendar .week div:nth-child(7) {
    flex: 0 0 100%;
}

.calendar .week div:nth-of-type(1) {
    border-top-left-radius: 0.3em;
}

.calendar .week div:nth-of-type(8) {
    border-bottom-left-radius: 0.3em;
}

.calendar .notes div:nth-of-type(1) {
    border-top-right-radius: 0.3em;
}

.calendar .notes div:nth-last-of-type(1) {
    border-bottom-right-radius: 0.3em;
}

/* .calendar .notes {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
} */