@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap");


:root {
    --clr-bg: #0B0B0B;
    --clr-white: #FFFFFF;
    --clr-font-gray: #CCCCCC;
    --clr-bar-gray: #333333;
    --clr-bg-gray: #1A1A1A;
    --clr-socials-bg-gray: #111111;
    --clr-red: #E50914;
}


html {
    font: 16px/1.5 "Inter", sans-serif;
    color: var(--clr-white);
}


h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font: 2.2rem/1.5 "Inter", sans-serif;
    padding-bottom: 0.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}


.site-wrapper {
    width: 100%;
    padding: 0 1.7rem;
    background-color: var(--clr-bg);
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-white);
}

.gray {
    color: var(--clr-font-gray);
}

.btn-container {
    display: inline-block;
    background-color: var(--clr-red);
}

.section {
    width: 100%;
    padding: 4em 0.5em 0 0.8em;
}


/* ----------   Header  ----------- */

.section.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0 1.5em;

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        gap: 2em;
        padding-right: 1em;
    }

}

/* ----------   Hero  ----------- */

.section-hero {
    background-image: url(img/movies/city-under-the-fire-bg.webp);
    background-repeat: no-repeat;
    background-size: 112%;
    border-radius: 1em;
    padding: 10.9em 3.5em 10em;

    h1 {
        width: 23ch;
        line-height: 1.2em;
    }

    .gray {
        font-size: 1.45rem;
        padding: 1em 0;
    }

    .red {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--clr-red);
    }

    .upper {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .categories {
        display: flex;
        justify-content: flex-start;
        gap: 1em;
        padding-top: 1em;

        li {
            padding: 4px 14px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 1.4em;
        }
    }

    .star {
        font-size: 1.2rem;
        padding: 0.6em 0;

    }

    .btn-container {
        padding: 0.6em 1.4em;
        font-size: 1.4rem;
        border-radius: 0.3em;
        margin-top: 1.5em;
    }
}


/* ----------   Continue Watching  ----------- */

.continue-watching {

    .img-container {
        width: 18.6rem;
        height: 12.3rem;
        border-radius: 1em;
        overflow: hidden;
    }

    .watch-progress {
        width: 18.5rem;
        height: 0.48em;
        border-radius: 1.2em;
        margin-top: 0.4em;
        background: linear-gradient(to right,
                var(--clr-red) 0%,
                var(--clr-red) 40%,
                var(--clr-bar-gray) 40%,
                var(--clr-bar-gray) 100%);
    }

}

.top-picks {

    ul {
        display: flex;
        justify-content: flex-start;
        gap: 1.7em;

    }

    .img-container {
        width: 20rem;
        border-radius: 0.7em;
        overflow: hidden;
    }
}

/* ----------   Coming Soon  ----------- */

.coming-soon {

    .section-wrapper {
        display: flex;
        justify-content: flex-start;
        gap: 1.6em;
        padding: 1.6em;
        background-color: var(--clr-bg-gray);
        border-radius: 0.6em;
    }

    .img-container {
        width: 12.7rem;
        height: 8.5rem;
        border-radius: 0.5em;
        overflow: hidden;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .montserrat {
        font-size: 1.56em;
        font-weight: 700;
        color: var(--clr-white);
        padding-bottom: 0;
        line-height: 0.9em;
    }

    p {
        font-size: 1.3em;
        color: var(--clr-font-gray);
        padding-bottom: 0.5em;
    }

    .small {
        font-size: 1.14em;
        padding: 0.4em 1.1em;
        border-radius: 0.25em;
    }

}

/* ----------   Browse  ----------- */

.browse {

    .genre-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.2em;
    }

    .icon-container {
        width: 6.27rem;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-socials-bg-gray);
        border-radius: 50%;

        img {
            width: 65%;
            /* height: 60%; */
        }
    }

    p {
        font-size: 1.25em;
        text-align: center;
        padding-top: 0.5em;
    }
}
