body {
    padding: 2em;
}

/* Typography */

html {
    font: 14px/1.5 Verdana, Helvetica, sans-serif;

    /* font-size: 14px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

body, input, button {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 0.5em;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p, ul, ol {
    padding-bottom: 1.5em ;
}

ul ul, ul ol, ol ul, ol ol {
    padding-bottom: 0;
}

ul, ol {
    padding-left: 1.5em;
} 

blockquote {
    font-style: italic;
    border-left: 4px solid #DDD;
    padding-left: 1.5em;
    margin: 0 2.5em 1.5em 1.5em;
}

blockquote p:last-of-type {
    padding-bottom: 0;
}

blockquote p.author {
    text-align: right;
    font-weight: bold;
}

/* Table styles */

table {
    width: 100%;
	table-layout: fixed;
	margin-bottom: 1.5rem;
	border: 1px solid #CCC;
	border-spacing: 0;
	border-collapse: collapse;
}

table td,
table th {
    border: 2px solid #CCC;
	padding: 0.3rem 0.5rem;
}

table thead th {
    text-align: left;
	background: #CCC;
}

table tr:nth-child(odd) {
    background-color: #F1F1F1;
}

table tr:hover td {
	background: black;
	color: #FFF;
	border-color: transparent;
}

