.flex-container {
    display: flex;
    width: 320px;
    border: 2px solid blue;
    padding: 1em;
}

.flex-item {
    border: 2px solid black;
    padding: 1em;
    background: #eee;
}

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}